{% extends "Usuarios/padre.html"%}
{% load static%}
{% block cambiante %}

<section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Sobre Mi</h2>
                <p class="lead">Soy un estudiante de CoderHouse el cual quiere aprender a usar python y debe realizar un proyecto final, creí que era una buena diseñar un blog en el cual hablemos de nuestras experencias en distintos juegos </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="section2">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2 class="section-title">Objetivos</h2>
              <ul class="section-content">
                <li>Crear una comunidad de jugadores argentinos interesados en compartir reseñas de videojuegos.</li>
                <li>Fomentar el intercambio de opiniones y experiencias entre los jugadores argentinos.</li>
                <li>Promover la cultura de los videojuegos en Argentina a través de reseñas de calidad.</li>
            </ul>
          </div>
      </div>
  </div>
</section>
<section class="bg-light" id="section3">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2 class="section-title">Cómo funciona</h2>
              <li>Regístrate como usuario en nuestra plataforma.</li>
      <li>Explora los videojuegos disponibles y lee las reseñas de otros jugadores.</li>
      <li>Comparte tus propias reseñas de los videojuegos que has jugado.</li>
      <li>Interactúa con otros jugadores a través de comentarios y valoraciones.</li>
          </div>
      </div>
  </div>
</section>

<section class="bg-light" id="section4">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2 class="section-title">Beneficios</h2>
              <li>Descubre nuevos videojuegos recomendados por otros jugadores argentinos.</li>
      <li>Obtén opiniones y perspectivas de jugadores locales sobre los videojuegos.</li>
      <li>Construye tu reputación como reseñador experto en la comunidad de jugadores argentinos.</li>
          </div>
      </div>
  </div>
</section>

</section>
<!-- Services section-->


{% endblock %}